.header-container{
  width: 100%;
  height: 80px;
  background-color: #252525;
display: flex;
justify-content: space-evenly;
}

.header-container nav{
  width: 500px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  border-radius: 0 0 20px 0;
  align-items: center;


  && li{
    color: white;
    list-style: none;


    && a{
      color: black;
          text-decoration: none;
    }
    && a:hover{
      transform: scale(1.2);
      color: orange;
    }
  }
}
.header-icons{
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


  && span{
    display: flex;
    background-color: white;
    width: 70px;
    height: 50px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    
  }

  && img{
   
    width: 30px;
    height: 30px;
  }
}
.HeaderContainer-iconoCasa{
  height: 30px;
  width: 30px;
}

